<div class='row' id='nav'>
    <div id='menu'>
        <span id='menu_label'><span class="glyphicon-th-list glyphicon"></span></span>
        <span id='icon-up'></span>
    </div>
    <div class='' id='buttons'>
        <div id='letters_button' data-toggle='tooltip' data-placement='right' data-container='body' title='Show Cropped regions' class='glyphicon glyphicon-font'></div>
        <div id='notes_button' data-toggle='tooltip' data-placement='right' data-container='body' title='Show Notes' class='glyphicon glyphicon-edit'></div>
        <div id='save' data-toggle='tooltip' data-placement='right' data-container='body' title='Save current session' class='glyphicon glyphicon-floppy-save'></div>
        <div id='load' data-toggle='tooltip' data-placement='right' data-container='body' title='Load saved session' class='glyphicon glyphicon-floppy-open'></div>
        <div id='back_to_digipal' data-toggle='tooltip' data-placement='right' data-container='body' title='Go back to Digipal' class='glyphicon glyphicon-step-backward'></div>
    </div>
</div>