<div class='row' id='nav'>
    <div id='menu'>
        <span id='menu_label'>Menu</span>
        <span id='icon-up'></span>
    </div>
    <div class='' id='buttons'>
        <img class='img-responsive' data-toggle='tooltip' title='Show Cropped regions' src="/static/img/_letters.png" id='letters_button' />
        <img class='img-responsive' data-toggle='tooltip' title='Show Notes' id='notes_button' src ="/static/img/_notes.png">
        <img class='img-responsive' data-toggle='tooltip' title='Save current session' id='save' src="/static/img/_save.png">
        <img class='img-responsive' data-toggle='tooltip' title='Load saved session' id='load' src="/static/img/_open.png" />
    </div>
</div>