<div class='modal box_containers' id='barLeft'>
    <div id='top_barLeft' class='top_box'>
        <span class="glyphicon glyphicon-search"></span>
        <span>Browse manuscript Images</span>
        <span class='pull-right' id='close_barLeft' title="Close Window">
            <span class="glyphicon glyphicon-remove"></span>
        </span>
    </div>
    <div id='filter_images_form' class=''>
        <div class="input-group col-lg-5 col-lm-5 col-xs-5 pull-left">
          <input autocomplete="off"  placeholder='Type here to search images' class="form-control" id="search" type="text" required />
          <div class="input-group-btn">
            <button title='Click here to search manuscripts' id='search_button' class="btn btn-default">
                <span class='glyphicon glyphicon-search'></span>
            </button>
          </div>
        </div>
        <div class='col-md-1 col-xs-1'>
            <img src="/static/img/ajax-loader.gif" id='ajax-loader' style='display:none;'/>
        </div>
        <div id='results_counter' class='col-md-1 col-xs-1'></div>
        <div class='pull-right col-md-5 col-xs-5' style='position: relative;left: 3%;'>
             <a class="btn btn-primary btn-sm" onclick="$('#load_image').click();"> <span class='glyphicon glyphicon-upload'></span> Load from file</a>
            <button id='add_to_workspace' class='btn btn-primary btn-sm'>
                <span class='glyphicon glyphicon-plus'></span> Add to workspace</button>
        </div>
    </div>
    <div class='' id='images_container'>
        <h3 style="margin: 0.5em;">Start searching for an image by typing the location or the repository</h3>
    </div>
    <div class='' style='text-align:center'><span class='label label-primary' id='load_more' disabled='disabled'>Load More Images</span></div>
</div>
