@import "mixins.less";

html, body{
	background: rgba(0,0,0,0.75);
	width: 4450px;
}
.image_active .image_desc{
	display: none;
}
#name_image{
	width:12em; 
	overflow:hidden; 
	text-overflow: ellipsis;
	white-space:nowrap; 

}
#barLeft .image {
	padding-top:2.5%;
	padding-bottom: 2.5%;
	padding-left: 1.5%;
	padding-right: 1.5%;
	z-index: 100;
	float: left;
	clear: both;
	cursor: pointer;
	width: 100%;
	border-bottom: 1px dashed #eee;
	&:last-child{
		margin-bottom:10%;
	}
	> img {
		max-width: 180px;
		float:left;
		max-height: 140px;
		.box-shadow(1px, 0px, 5px, #444);
		&:hover{
			opacity: 0.75;
		}
	}
	.image_desc{
		font-size: 13px;
		word-wrap: break-word;
		padding: 0.5%;
		margin: 0.5%;
		position: relative;
		left: 6%;
	}
}

.note{
	width: 30%;
	height: 40%;
	float: left;
	background: #fff;
	border-top: 4px solid #fee756;
	margin: 1.5%;
	padding: 1%;
	overflow:hidden;
	-webkit-box-shadow: 0 -3px 1px rgba(255,255,255,.6), inset 0 2px 1px rgba(255,255,255,.97), 0 0 3px -1px rgba(0,0,0,.7);
	-moz-box-shadow: 0 -3px 1px rgba(255,255,255,.6), inset 0 2px 1px rgba(255,255,255,.97), 0 0 3px -1px rgba(0,0,0,.7);
	box-shadow: 0 -3px 1px rgba(255,255,255,.6), inset 0 2px 1px rgba(255,255,255,.97), 0 0 3px -1px rgba(0,0,0,.7);
	&:hover{
		cursor: pointer;
		background: #f6f6f6;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(249,249,249,1)), color-stop(100%, rgba(240,240,240,1)));
		background: -webkit-linear-gradient(top, rgba(249,249,249,1) 50%, rgba(240,240,240,1) 100%);
		background: -moz-linear-gradient(top, rgba(249,249,249,1) 50%, rgba(240,240,240,1) 100%);
		background: -ms-linear-gradient(top, rgba(249,249,249,1) 50%, rgba(240,240,240,1) 100%);
		background: -o-linear-gradient(top, rgba(249,249,249,1) 50%, rgba(240,240,240,1) 100%);
		background: linear-gradient(top, rgba(249,249,249,1) 50%, rgba(240,240,240,1) 100%);
	}
	.note_box_title{
		font-weight: bold;
		font-size: 15px;
		overflow-wrap: break-word;
	}
	.note_box_content{
		clear: both;
	}
}
.edit_comment_from_box, .remove_comment_from_box{
	opacity: 0.6;
	.transition(all, 0.5s);
	&:hover{
		opacity:1;
		.text-shadow(0px, 1px, 4px, #444);
	}
}
#notes_container{
	padding:2%;
}
.box_containers{
	position:fixed;
	display: none;
	opacity: 0;
	width:0%;
	height:0%;
	overflow: hidden;
	z-index: 0;
	border: 10px solid rgba(82, 82, 82, .7);
	.rounded(8px);
	z-index: 400;
	color: rgba(82, 82, 82, 1);
	.box-shadow(0px, 0px, 6px, rgba(0,0,0,0.7));
	.top_box{
		font-weight: bold;
		border-bottom: 1px solid #ccc;
		padding: 2%;
		padding-bottom: 0;
		padding-top: 1.5%;
		font-size: 20px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		background: #fff;
	}
	.box_container{
		background: #fff;
		height:100%;
		width: 100%;
		overflow-y:auto;
		overflow-x: hidden;
		margin:0;
	}
	.close_box{
		font-weight: bold;
		font-size: 21px;
		padding-right:3px;
		padding-bottom: 5px;
		cursor: pointer;
		&:hover{
			.text-shadow(0px, 0px, 3px, rgba(82, 82, 82, .7));
		}
	}
}

#comparison_box{
	position:fixed;
	top:40%;
	left:50%;
	display: none;
	opacity: 0;
	height:0%;
	overflow: hidden;
	width: 0%;
	z-index: 0;
	border: 10px solid rgba(82, 82, 82, .7);
	#images_compared_div{
		min-width: 40px;
		text-align:center;
		margin-top: 5%;
	}
}


#top_load_box{
	display: none;
	margin:0;
}

#barLeft {
	position:fixed;
	height:85%;
	display: block;
	opacity: 1;
	left:25%;
	top:5%;
	overflow: hidden;
	width: 50%;
	z-index: 400;
	border: 10px solid rgba(82, 82, 82, .7);
	.rounded(8px);
	color: rgba(82, 82, 82, 1);
	background: rgba(82, 82, 82, .7);
	#top_barLeft{
		font-weight: bold;
		border-bottom: 1px solid #ccc;
		padding-top: 1.5%;
		padding-bottom: 1.5%;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		background: #fff;
	}
	#images_container{
		background: #fff;
		overflow-y: auto;
		overflow-x: hidden;
		height:95%;
	}
	#close_barLeft{
		font-weight: bold;
		font-size: 21px;
		padding-right:3px;
		padding-bottom: 5px;
		cursor: pointer;
		&:hover{
			.text-shadow(0px, 0px, 3px, rgba(82, 82, 82, .7));
		}
	}
	#filter_images_form{
		.input-group, .input-btn-group{
			margin-bottom: 0;
			margin-top:0;
			padding: 0;
		}
		padding: 8px;
		list-style: none;
		background-color: rgb(245, 245, 245);
	}
	#results_counter{
		font-weight: bold;
		line-height: 2.74;
	}
	#ajax-loader{
		margin-right: 5%;
		padding-top: 25%;
	}
}

#barRight{
	z-index:2;
	width:2200px;
	height:1900px;
	background: #888;
	margin-right: 10px;
	padding:0;
	float: left;
	.image_active{
		float:left;
		margin:2%;
		max-width: 180px;
		max-height: 90px;
	}
}
#barRight2{
	z-index:2;
	width:2200px;
	height:1900px;
	background: #888;
	margin: 0;
	float: left;
	padding:0;
	.image_active{
		float:left;
		margin:2%;
		max-width: 180px;
		max-height: 90px;
	}
}

#top_box_letters{
	padding: 8px 15px;
	background-color: rgb(245, 245, 245);
	margin:0;
}

#notes{
	position: fixed;
	left: 50%;
}
#letters{
	position: fixed;
	left:40%;
}
#notes_alert{
	display: none;
	margin: 0;
}

.popover{
	width: 100%;
}
.popover-content{
	padding-left: 8px;
	padding-right: 8px;
}
.popover-title{
	color: #5e5e5e;
	font-weight: bold;
}
#images_group{
	cursor: pointer;
	&:hover{
		text-decoration: underline;
	}
}

.images_selected{
	color: #5e5e5e;
	font-size: 12px;
	cursor: pointer;
	font-weight: bold;
	text-overflow: ellipsis;
	border-bottom: 1px dashed #efefef;
	padding-bottom: 4px;
	opacity: 0.6;
	.transition(all, 0.5s);
	&:hover{
		border-bottom: 1px dashed #5e5e5e;
		opacity: 1;
	}
}

#nav{
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 120;
	bottom: 0;
	#buttons {
		width: 50%;
		position: absolute;
		top: 0%;
		left: 26%;
		> img {
			cursor: pointer;
			margin:0;
			padding:0;
			.transition(all, 0.15s linear);
			&:hover{
				-webkit-transform: scale(1.25);
			     -moz-transform: scale(1.25); 
			      -ms-transform: scale(1.25);  
			       -o-transform: scale(1.25);  
			          transform: scale(1.25);
				margin-left: 25px; margin-right: 25px;
				margin-bottom:35px;
			}
		}

	}
}

#menu{
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
box-shadow: -1px -1px 2px 0px rgba(0,0,0,0.1),1px -1px 2px 0px rgba(0,0,0,0.1);
color: #222;
background: none;
height: auto;
text-align: center;
white-space: nowrap;
overflow: hidden;
cursor: pointer;
height: 32px;
width: 113px;
position: absolute;
bottom: 0;
z-index: 1;
background-color: #222;
color: #d3d3d3;
border-radius: 2px;
padding: 0;
font-size: 12px;
border: none;
line-height: 2.5;
box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
-webkit-transform: translateZ(0);
-moz-transform: translateZ(0);
-ms-transform: translateZ(0);
transform: translateZ(0);
}
#icon-up{
	background: transparent url(/static/img/expander-sprite-1x.png);
	background-position: -45px -15px;
	background-size: 90px 30px;
	position: absolute;
	width: 15px;
	height: 15px;
	color: black;
	cursor: pointer;
	left: 83%;
	top: 25%
}

#icon-down{
	background: transparent url(/static/img/expander-sprite-1x.png);
	background-position: -60px 0;
	background-size: 90px 30px;
	position: absolute;
	width: 15px;
	height: 15px;
	cursor: pointer;
	left: 83%;
	top: 25%	
}

.box{
	position: fixed;
	top: 10%;
	left: 70%;
	.rounded(5px);
	.box-shadow(0px, 0px, 10px, #999); 
	height: 395px;
	z-index:1500;
	font-size:13px;
	width: 270px;
	background: #272b2b; /* Old browsers */
	background: -moz-linear-gradient(top,  #272b2b 0%, #000000 96%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#272b2b), color-stop(96%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #272b2b 0%,#000000 96%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #272b2b 0%,#000000 96%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #272b2b 0%,#000000 96%); /* IE10+ */
	background: linear-gradient(to bottom,  #272b2b 0%,#000000 96%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272b2b', endColorstr='#000000',GradientType=0 ); /* IE6-9 */


	#topToolbar {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-bottom:1px solid #444;
		padding: 10px 9px;
		font-weight: bold;
		color: #efefef;
		font-size:14px;
		background: rgb(85,85,85); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(85,85,85,1) 0%, rgba(34,34,34,1) 19%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(85,85,85,1)), color-stop(19%,rgba(34,34,34,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(85,85,85,1) 0%,rgba(34,34,34,1) 19%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(85,85,85,1) 0%,rgba(34,34,34,1) 19%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(85,85,85,1) 0%,rgba(34,34,34,1) 19%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(85,85,85,1) 0%,rgba(34,34,34,1) 19%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
	}
	#closeToolbar{
		font-weight: bold;
		font-size: 100%;
		color: #888;
		padding-right:5px;
		padding-left:5px;
		cursor:pointer;
		&:hover{
			color: #fff;
		}
	}

	#tools{
		
	}
	.tool_label{
		font-weight: bold;
		font-size: 96.5%;
		color: #efefef;
		width:10%;
		float:left;
		clear:both;
		margin-right: 8%;
		padding-top: 1px;
	}
	.tool_value{
		display: block;
		font-size: 83%;
		color: #efefef;
	}
	.tool{
		margin-top: 8px;
		margin-bottom: 11px;
		height: 22px;
		margin-left:3px;
		margin-right:3px;
		padding: 2px 7px;
		.btn-small{
			font-size: 11.5px;
			padding: 1.5px 4px;
		}
	}
	.line{
		border-bottom: 1px solid #444;
		height:1px;
		width: 100%;
		margin:0px;
		padding:0;
	}
	.slider{
		margin:1%;
		width:65%;
		float:right;
	}
	#crop_image{
		display: none;
	}
}
#search_button{
	padding-left: 16px;
	padding-right: 16px;
}
 #overview {
    background: #efefef;
    .rounded(2px);
    position:fixed;
    top: 86%;
	left: 87%;
	width: 12%;
	height: 12.5%;
    .box-shadow(0px, 0px, 6px, rgba(0,0,0,0.7));
    z-index:500;
    overflow: hidden;
}
#marker {
    background:#fff;
    width:48px;
    height:22.5px;
    .rounded(2px);
    z-index: 11;
    opacity:0.7;
    .box-shadow(0px, 0px, 2px, #444);
}

.image_map{
	.box-shadow(0px, 0px, 2px, #444);
	opacity:0.8;
	position: absolute;
	z-index: 100;
	background: red;
	.rounded(2px);
	margin:0;
	&:hover{
		cursor: pointer;
		background: yellow;
	}
}


#letter_wait_box{
	text-align: center;
	position: fixed;
	padding-top: 1%;
	font-weight: bold;
	min-height: 15%;
	left: 35%;
	top: 30%;
	display: none;
	overflow: hidden;
	width: 25%;
	height: 20%;
	z-index: 400;
	border: 10px solid rgba(82, 82, 82, 0.7);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color: #525252;
	background: #fff;
	#letters_buttons_loading_box{
		margin: 7%;
	}
}

#export .box_container, #import .box_container{
	padding: 4%;
	margin: 0;
	text-align: center;
}
#export{
	position: fixed;
	left: 55%;
}

#import{
	position: fixed;
	left: 60%;
}

li.no-before, li.no-before:before{
	content:none !important;
}
.folder{
	margin-left: 2%;
	margin-bottom: 2%;
	padding: 0.8%;
	float: left;
	width: 100px;
	cursor: pointer;
	&:hover{
		opacity:0.7;
	}
	.folder_title{
		font-size: 11px;
		font-weight: bold;
		word-wrap: break-word;
	}
}

.top_box .icon-remove, #barLeft .icon-remove {
		border: 1px solid transparent;
		padding:1%;
}
.top_box .icon-remove:hover, #barLeft .icon-remove:hover {
	border: 1px solid #777;
	.rounded(4px);
}

.label_size{
	position: relative;
	top: 100%;
	right: 17%;
	color: #efefef;
	font-size: 11px;
	font-weight: bold;
}
.small-input{
	width: 20%;
	padding: 1px !important;
	padding-left: 2px !important;
	padding-right: 2px !important;
	border: 1px solid #222 !important;
	background-color: #444 !important;
	color:#fff !important;
	font-weight: bold;
	.rounded(3px);
}

.icons-tool{
	cursor: pointer;
	opacity: 0.6;
	.transition(opacity, 0.5s);
	&:hover{
		opacity: 1;
	}
}
/* Style for comments */
#bold{
	font-weight: bold;
}

#italic{
	font-style: italic;
}

#underline{
	text-decoration: underline;
}

#workspace{
	position: fixed;
	top: 1%;
	left:96%;
	width:40px;
	cursor: pointer;
	height:40px;
	opacity:0.7;
	.transition(all, 0.5s);
	background: url(/static/img/workspace.png);
	&:hover{
		opacity: 1;
	}
}

.comment{
	position:fixed;
	top:20%;
	left:40%;
    width:300px;
    height:280px;
    background: #fee756;
    .rounded(4px);
	z-index:1300;
}
.comment_wrapper{
	background: #fee756;
	height:100%;
	overflow-x: hidden;
    overflow-y: auto;
    box-shadow:0px 0px 12px #999;
}
.commentTitle{
	background: #fee756;
	border: none;
	outline: none;
	width: 100%;
	padding-bottom: 3px;
	padding: 1.5%;
	font-weight: bold;
	border-bottom: 1px dashed #999;
	color: #444;
	font-size: 13.5px;
}
.top_comment{
	box-shadow:0px 0px 12px #999;
    padding:3%; 
    margin:0;
    height:45px;
    background-color: #1b1b1b;
	background-image: -moz-linear-gradient(top, #222222, #111111);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
	background-image: -webkit-linear-gradient(top, #222222, #111111);
	background-image: -o-linear-gradient(top, #222222, #111111);
	background-image: linear-gradient(to bottom, #222222, #111111);
	background-repeat: repeat-x;
	border-color: #252525;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
    border-top-right-radius:4px;
    border-top-left-radius:4px;
    .close_comment{
    	position: absolute;
    	left:91%;
    	font-weight: bold;
    	font-size:18px;
    	color: #fff;
    	cursor: pointer;
    	&:hover{
			color:red;
    	}
    }
}
.comment_content{
    font-size:13px;
    font-weight: 200;
    padding: 3%;
    word-wrap: break-word;
    outline:none;
    > div{
    	line-height:2;
    }
}

.breadcrumb li > a{
	cursor: pointer;
}



/* Letters */

.letter{
	margin:1.5%;
}



/* Scrollbar */

::-webkit-scrollbar-thumb:vertical {
	margin-top: 5px;
	height: 50px;
	background-color: #ccc;
	border: 1px solid #ccc;
	-webkit-border-radius: 6px;
	}
::-webkit-scrollbar-track-piece  {
	background-color: #fff;
}

::-webkit-scrollbar-thumb:horizontal {
	margin-top: 5px;
	height: 50px;
	background-color: #ccc;
	border: 1px solid #ccc;
	-webkit-border-radius: 6px;
	}
	::-webkit-scrollbar-track-piece  {
	background-color: #fff;
}


::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}



// Filters
.grayscale {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: url(/static/css/svg/grayscale.svg);
	filter: gray;
}

.contrast {
	/*
	-webkit-filter: contrast(200%);
	-moz-filter: contrast(200%);
	-ms-filter: contrast(200%);
	-o-filter: contrast(200%);
	*/
	filter: contrast(200%);
	filter: url('/static/css/svg/contrast.svg');
}


//Buttons

#button_toolbar{
	.transition(all, 0.5s);
	&:hover{
		background: url('/static/img/_tools2.png');
	}
}

#letters_button{
	.transition(all, 0.5s);
	&:hover{
		background: url('/static/img/_letters2.png');
	}
}

#notes_button{
	.transition(all, 0.5s);
	&:hover{
		background: url('/static/img/_notes2.png');
	}
}

#save{
	.transition(all, 0.5s);
	&:hover{
		background: url('/static/img/_save2.png');
	}
}

#load{
	.transition(all, 0.5s);
	&:hover{
		background: url('/static/img/_load2.png');
	}
}