<div class='modal box_containers' id='export'>
    <div class='top_box'> <span class='glyphicon glyphicon-folder-close'></span> Save session
        <span class='pull-right close_box' id='close_export'>
            <span class="glyphicon glyphicon-remove" title="Close Window"></span>
        </span>
    </div>
    <div class='box_container'>
        <div class='input-group col-md-9 col-xs-9'>
            <div class="input-group-btn">
                <input required placeholder="Type a name for this session" class="form-control" id="name_export" type="text">
                <button id='save_to_pc' class='btn btn-primary'>Save on your PC</button>
            </div>
        </div>
    </div>
</div>