<div class='modal box_containers' id='import'>
    <div class='top_box'>
        <span class='glyphicon glyphicon-folder-open' style='margin-right:1%'></span>  Load session
        <span class='pull-right close_box' id='close_import' title="Close Window">
            <span class="glyphicon glyphicon-remove " ></span>
        </span>
    </div>
    <div id='top_load_box' class=''></div>
    <div class='box_container'>
        <button id='open_load_from_pc' class='btn btn-primary'>Load from File</button>
        <button id='load_from_db' class='btn btn-primary disabled'>Load from your Account</button>
    </div>
 </div>