<div class='modal box_containers' id='letters'>
    <div class='top_box' id='top_letter'>
         Regions
        <span class='pull-right close_box' id='close_letters' title="Close Window">
            <span class="glyphicon glyphicon-remove"></span>
        </span>
        <span id='selected_letters_number' class='pull-right label label-default'>0 selected</span>
    </div>
    <div id='top_box_letters'>
        <button id='compare_letters' class='btn btn-primary btn-sm'>Compare</button>
        <button id='add_letters' class='btn btn-primary btn-sm'>Add to Workspace</button>
        <input type='file' id='load_image' class='btn btn-primary btn-sm' value='Load Image' style='display:none' />
        <button value='html' id='export_html' class='btn btn-primary btn-sm disabled'>Export as HTML</button>
        <button value='xml' id='export_xml' class='btn btn-primary btn-sm disabled'>Export as XML</button>
        <a class="btn btn-primary btn-sm" onclick="$('#load_xml').click();">Import XML</a>
        <input type='file' id='load_xml' class='btn btn-primary btn-sm' value='Load from XML ' style='display:none' />
        <button id='delete_letter' class='btn btn-danger btn-sm pull-right'>Delete</button>
   </div>
   <div class='box_container' id='letters_container'></div>
</div>