.notify{
	position: fixed;
	font-family: Helvetica, Arial, sans-serif;
	width: 20%;
	z-index: 500;
	padding: 1.25%;
	font-size: 1em;
	line-height: 1;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	word-wrap: break-word;
	opacity: 0;
}

.notify-default{
	background: rgba(19, 19, 19, 0.95); /* Old browsers */
	color: #fff;
	-moz-box-shadow: 0px 0px 15px #444;
	-webkit-box-shadow: 0px 0px 15px #444;
	-o-box-shadow: 0px 0px 15px #444;
	box-shadow: 0px 0px 15px #444;
	-webkit-transition-property: background, box-shadow;
    -moz-transition-property: background, box-shadow;
    -o-transition-property: background, box-shadow;
    -ms-transition-property: background, box-shadow;
    -transition-property: background, box-shadow;

	-webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.notify-success{
	-moz-box-shadow: 0px 0px 15px #d6e9c6;
	-webkit-box-shadow: 0px 0px 15px #d6e9c6;
	-o-box-shadow: 0px 0px 15px #d6e9c6;
	box-shadow: 0px 0px 15px #d6e9c6;
	color: #fff;
	color: #468847;
	background: rgba(223, 240, 216, 1);
	border:1px solid #d6e9c6;
	-webkit-transition-property: background, box-shadow;
    -moz-transition-property: background, box-shadow;
    -o-transition-property: background, box-shadow;
    -ms-transition-property: background, box-shadow;
    -transition-property: background, box-shadow;

	-webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.notify-error{
	color: #b94a48;
	background-color: rgba(242, 222, 222, 1);
	border:1px solid #eed3d7;
	-moz-box-shadow: 0px 0px 15px #eed3d7;
	-webkit-box-shadow: 0px 0px 15px #eed3d7;
	-o-box-shadow: 0px 0px 15px #eed3d7;
	box-shadow: 0px 0px 15px #eed3d7;
	-webkit-transition-property: background, box-shadow;
    -moz-transition-property: background, box-shadow;
    -o-transition-property: background, box-shadow;
    -ms-transition-property: background, box-shadow;
    -transition-property: background, box-shadow;

	-webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.notify-default:hover{
	background: rgba(19, 19, 19, 0.9);
	-moz-box-shadow: 0px 0px 25px #444;
	-webkit-box-shadow: 0px 0px 25px #444;
	-o-box-shadow: 0px 0px 25px #444;
	box-shadow: 0px 0px 25px #444;
	opacity: 0.9;
}
.notify-success:hover{
	-moz-box-shadow: 0px 0px 25px #d6e9c6;
	-webkit-box-shadow: 0px 0px 25px #d6e9c6;
	-o-box-shadow: 0px 0px 25px #d6e9c6;
	box-shadow: 0px 0px 25px #d6e9c6;
	background: rgba(223, 240, 216, 0.9);
}
.notify-error:hover{
	-moz-box-shadow: 0px 0px 25px #eed3d7;
	-webkit-box-shadow: 0px 0px 25px #eed3d7;
	-o-box-shadow: 0px 0px 25px #eed3d7;
	box-shadow: 0px 0px 25px #eed3d7;
	background: rgba(242, 222, 222, 0.9);
}


/* close-button style */
.notify .close-button{
	position: absolute;
	right:2%;
	top:2%;
	margin:1%;
	font-size: 15.5px;
	font-weight: bold;
	cursor: pointer;
}
.close-button:hover{
	-moz-text-shadow: 0px 0px 15px #fff;
	-webkit-text-shadow: 0px 0px 15px #fff;
	-o-text-shadow: 0px 0px 15px #fff;
	text-shadow: 0px 0px 15px #fff;
}
