<!DOCTYPE HTML>
{% block head %}
<head>
	{% block css %}

    <link rel="stylesheet" type="text/css" media="all" href="/static/css/libs/bootstrap.css">
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/libs/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/libs/bootstrap-glyphicons.css">
    <link rel="stylesheet" type="text/css" href="/static/css/libs/css/ui-lightness/jquery-ui-1.8.20.custom.css">
    <link rel="stylesheet" type="text/less" media="all" href="/static/css/app.less">
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/notifications.css">
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/libs/jcrop.min.css">

    {% block extra_css %}{% endblock %}

    {% endblock %}


	<meta charset="utf-8"/>
	<meta name="description" content="" />
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<link rel="icon" href="" />
	<link rel="shortcut icon" href="" />
	<meta name="author" content="Giancarlo Buomprisco" />
	<title>Digital Lightbox</title>

	{% block extra_head %}{% endblock %}

</head>
{% endblock %}
<body class="row-fluid">
	{% block main %}{% endblock %}

    {% block js %}
    <script type="text/javascript" src="/static/js/libs/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/jquery-ui-1.10.2.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
    <script type="text/javascript" src="/static/js/libs/less-1.5.0.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/jcrop.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/resemble.js"></script>
    <script type="text/javascript" src="/static/js/libs/multidraggable.js"></script>
    <script type="text/javascript" src="/static/js/libs/css3-mediaqueries.js"></script>
    <script type="text/javascript" src="/static/js/search.js"></script>
    <script type="text/javascript" src="/static/js/libs/xml2json.js"></script>
    <script type="text/javascript" src="/static/js/notifications.js"></script>

    <!--[if lt IE 9]>
        <script src="Javascript/html5shiv.js"></script>
    <![endif]-->

    {% block extra_js %}{% endblock %}

    {% endblock %}

</body>
