{% load init %}
<div id='topbar' class='span3'>
   <span data-toggle='tooltip' data-placement='bottom' data-container='body' title = 'Zoom workspace In' id = 'zoom_in' class = 'col-md-2 col-xs-2 glyphicon glyphicon-zoom-in'></span>
   <span data-toggle='tooltip' data-placement='bottom' data-container='body' title = 'Zoom workspace out' id = 'zoom_out' class = 'col-md-2 col-xs-2 glyphicon glyphicon-zoom-out'></span>

   <span data-toggle='tooltip' data-placement='bottom' data-container='body' title = 'Move left' id = 'move_left' class = 'col-md-2 col-xs-2 glyphicon glyphicon-arrow-left'></span>
   <span data-toggle='tooltip' data-placement='bottom' data-container='body' title = 'Move right' id = 'move_right' class = 'col-md-2 col-xs-2 glyphicon glyphicon-arrow-right'></span>

   <span data-toggle='tooltip' data-placement='bottom' data-container='body' title = 'Change workspace' id = 'workspace' class = 'col-md-2 col-xs-2 glyphicon glyphicon-th-large'></span>
   <div class="btn-group" id='counter-zoom-div'>
      <button type="button" class="btn dropdown-toggle" id='counter_zoom' data-toggle="dropdown">
        100% <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a class='zoom-button' data-zoom='50'>25%</a></li>
        <li><a class='zoom-button' data-zoom='50'>50%</a></li>
        <li><a class='zoom-button' data-zoom='100'>100%</a></li>
        <li><a class='zoom-button' data-zoom='250'>250%</a></li>
      </ul>
    </div>
</div>
<div class='row' id='container'>

    {% comment %}
        Menu
    {% endcomment %}
    {% include "sections/menu.html" %}


    {% comment %}
        Browse images div
    {% endcomment %}

    {% include "sections/search.html" %}

    <div class='workspace' id='workspace1'></div>
    <div class='workspace' id='workspace2'></div>
    <div class='workspace' id='workspace3'></div>
    <div class='workspace' id='workspace4'></div>
</div>

{% comment %}
    Minimap
{% endcomment %}

<div id='overview'>
    <div id='marker'></div>
</div>
<div id="switchers">
    <div data-toggle='tooltip' title="Go to workspace 1" class="workspace-switcher active" data-id='#workspace1'></div>
    <div data-toggle='tooltip' title="Go to workspace 2" class="workspace-switcher" data-id='#workspace2'></div>
    <div data-toggle='tooltip' title="Go to workspace 3" class="workspace-switcher" data-id='#workspace3'></div>
    <div data-toggle='tooltip' title="Go to workspace 4" class="workspace-switcher" data-id='#workspace4'></div>
</div>
{% comment %}
    Notes
{% endcomment %}

{% include "sections/notes.html" %}


{% comment %}
    Regions
{% endcomment %}


{% include "sections/regions.html" %}

{% comment %}
    Export
{% endcomment %}

{% include "sections/export.html" %}



{% comment %}
    Import
{% endcomment %}

{% include "sections/import.html" %}



{% comment %}
    hidden div as temporary location for for external images
{% endcomment %}
<div id="hidden_div" style='display:none'></div>

<input type="hidden" id="csrfmiddlewaretoken" value="{{csrf_token}}">



{% comment %}
    Load autocomplete
{% endcomment %}

{% block extra_js %}

<script>
    array_pages = {% pages %};
    LIGHTBOX = "{{LIGHTBOX}}";
    if (LIGHTBOX == 'False'){
        location.href = '/';
    }
</script>
{% endblock %}
